html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav.home {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 2%;
}
nav.xbox {
    background-color: #329b29;
    display: flex;
    justify-content: space-around;
    padding: 2%;
}
nav.playstation {
    background-color: #2D6DB8;
    display: flex;
    justify-content: space-around;
    padding: 2%;
}
nav.switch {
    background-color: #ca3131;
    display: flex;
    justify-content: space-around;
    padding: 2%;
}
a {
    color: white;
    text-decoration: none;
    font-size: xx-large;
}

.greeting {
    margin-top: 15%;
    font-size: 100px;
    text-align: center;
    height: 100%;
}

.xbox > .entry {
    height: 23%;
    width: 17%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -1px 1px 25px 0px #329b29;
}

img {
    width: 30%;
}

.products {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 15%;
    justify-content: center;
    gap: 25%;
    height: max-content;
}

.cart {
    display: flex;
    flex-direction: column;
}
.cart > .entry {
    display: flex;
}

.cart > img {
    width: 30%;
}